In [5]:
import pandas as pd

In [15]:
file_path = "Uncleaned_Healthcare_Data_v2.xlsx"
excel_file = pd.ExcelFile(file_path)

In [17]:
excel_file.sheet_names

['FactTable',
 'dimPatient',
 'dimTransaction',
 'dimPhysician',
 'dimPayer',
 'dimLocation',
 'dimDiagnosisCode',
 'dimCptCode',
 'dimDate']

In [19]:
fact_table = excel_file.parse('FactTable')

In [20]:
fact_table.head()

,FactTablePK,dimPatientPK,dimPhysicianPK,dimDatePostPK,dimDateServicePK,dimCPTCodePK,dimPayerPK,dimTransactionPK,dimLocationPK,PatientNumber,dimDiagnosisCodePK,CPTUnits,GrossCharge,Payment,Adjustment,AR
0,1082164042,6066415,216412,20200528,20191215,583482,58987,49468,785522,21384136,92564854,-600,-10000.0,0.0,0.0,-6600.0
1,1027823678,5810482,216111,20200501,20191215,581655,98735,50858,786431,21387258,107435147,0,-3899.0,0.0,0.0,-3899.0
2,922963624,5337135,215646,20200102,20191215,596355,92873,53713,786027,21381441,81963015,-1,-2670.0,0.0,0.0,-2670.0
3,923120306,5337135,215646,20200102,20191215,596355,58987,53713,786027,21381441,81963015,-1,-2670.0,0.0,0.0,-2670.0
4,951760836,5337135,215646,20200205,20191215,596355,98735,53713,786027,21381441,72207535,-1,-2670.0,0.0,0.0,-2670.0

In [25]:
#what is structure of fact table?

fact_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84220 entries, 0 to 84219
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   FactTablePK         84220 non-null  int64
 1   dimPatientPK        84220 non-null  int64
 2   dimPhysicianPK      84220 non-null  int64
 3   dimDatePostPK       84220 non-null  int64
 4   dimDateServicePK    84220 non-null  int64
 5   dimCPTCodePK        84220 non-null  int64
 6   dimPayerPK          84220 non-null  int64
 7   dimTransactionPK    84220 non-null  int64
 8   dimLocationPK       84220 non-null  int64
 9   PatientNumber       84220 non-null  int64
 10  dimDiagnosisCodePK  84220 non-null  int64
 11  CPTUnits            84220 non-null  int64
 12  GrossCharge         84220 non-null  float64
 13  Payment             84220 non-null  float64
 14  Adjustment          84220 non-null  float64
 15  AR                  84220 non-null  float64
dtypes: float64(4), int64(12)
memory usage: 10.3 MB

In [27]:
#how to check for missing values

fact_table.isnull().sum() #check for missing values
fact_table.duplicated().sum() #check for duplicated values

1

In [29]:
#what are the minimum and maximum values for GrossCharge,  payment, and Adjustments?

fact_table[['GrossCharge', 'Payment', 'Adjustment']].describe()

        GrossCharge       Payment    Adjustment
count  84220.000000  84220.000000  84220.000000
mean      17.322095     -8.354468     -8.509651
std      128.027626     50.581962     69.072560
min   -10000.000000  -3810.000000  -3941.510000
25%        0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000
75%        0.000000      0.000000      0.000000
max     6600.000000   1406.480000   1691.950000

In [31]:
#how many unique dimDiagnosisCodePK values exists?

fact_table['dimDiagnosisCodePK'].nunique()

4801

In [43]:
sheets = {sheet_name: excel_file.parse(sheet_name) for sheet_name in excel_file.sheet_names}

In [44]:
dim_patient = sheets['dimPatient']

In [47]:
#how many patient missing email or city column?
dim_patient[['Email','City']].isnull().sum()

Email    1
City     1
dtype: int64

In [49]:
#what are the unique values in the PatientGender column, n how often they occur?

dim_patient['PatientGender'].value_counts()

PatientGender
Female    3004
Male      2111
Femle        1
Mle          1
Name: count, dtype: int64

In [51]:
#What is the age distribution of patients?

dim_patient['PatientAge'].describe()

count    5117.000000
mean       44.355286
std        26.023386
min         0.000000
25%        21.000000
50%        44.000000
75%        67.000000
max        90.000000
Name: PatientAge, dtype: float64

In [53]:
dim_transaction = sheets['dimTransaction']

In [55]:
#what are the unique transaction types?

dim_transaction['TransactionType'].unique()

array(['  Charge ', 'Charge', 'Adjustment', 'Payment', 'Denial',
       'Invoice', 'Bill'], dtype=object)

In [57]:
#how many transaction are missing in AdjustmentReason?

dim_transaction['AdjustmentReason'].isnull().sum()

1

In [61]:
#before cleaning

print('Before cleaning - Negative and zero values in FactTable:')
print(fact_table[['GrossCharge','CPTUnits']])

Before cleaning - Negative and zero values in FactTable:
       GrossCharge  CPTUnits
0         -10000.0      -600
1          -3899.0         0
2          -2670.0        -1
3          -2670.0        -1
4          -2670.0        -1
...            ...       ...
84215       6243.0         1
84216       6600.0       600
84217       6600.0       600
84218       6600.0       600
84219     -10000.0      -600

[84220 rows x 2 columns]

In [63]:
fact_table_cleaned = fact_table[(fact_table['GrossCharge'] > 0) & (fact_table['CPTUnits']>0)]

In [65]:
print(fact_table_cleaned[['GrossCharge','CPTUnits']])

       GrossCharge  CPTUnits
74767         0.01         1
74768         0.01         1
74769         0.01         1
74770         0.01         1
74771         0.01         1
...            ...       ...
84214      4941.00         1
84215      6243.00         1
84216      6600.00       600
84217      6600.00       600
84218      6600.00       600

[9452 rows x 2 columns]

In [69]:
print(dim_patient[['Email','City']].isnull().sum())

Email    1
City     1
dtype: int64

In [73]:
dim_patient_cleaned = dim_patient.fillna({'Email':'unknown@datasource.com','City':'unknown'})

In [75]:
print(dim_patient_cleaned[['Email','City']].isnull().sum())

Email    0
City     0
dtype: int64

In [79]:
print(dim_patient['PatientGender'].value_counts())

PatientGender
Female    3004
Male      2111
Femle        1
Mle          1
Name: count, dtype: int64

In [83]:
dim_patient_cleaned = dim_patient.replace({'Femle': 'Female', 1: 'Male'})

In [91]:
print(dim_patient_cleaned['PatientGender'].value_counts())

PatientGender
Female    3005
Male      2112
Name: count, dtype: int64

In [89]:
dim_patient_cleaned = dim_patient.replace({'Femle': 'Female', 'Mle':'Male'})

In [97]:
print('Before cleaning dim-transaction whitespace')
print(dim_transaction['TransactionType'].unique())

Before cleaning dim-transaction whitespace
['  Charge ' 'Charge' 'Adjustment' 'Payment' 'Denial' 'Invoice' 'Bill']

In [105]:
# Initialize dim_transaction_cleaned as a copy of dim_transaction
dim_transaction_cleaned = dim_transaction.copy()

# Remove leading and trailing whitespace from the 'TransactionType' column
dim_transaction_cleaned['TransactionType'] = dim_transaction['TransactionType'].str.strip()

In [103]:
print(dim_transaction_cleaned['TransactionType'].unique())

['Charge' 'Adjustment' 'Payment' 'Denial' 'Invoice' 'Bill']

In [125]:
print(dim_transaction['AdjustmentReason'].isnull().sum(),"missing values")

1 missing values

In [141]:
dim_transaction_cleaned['AdjustmentReason'] = dim_transaction_cleaned['AdjustmentReason'].fillna('NaN')
print(dim_transaction_cleaned['AdjustmentReason'].isnull().sum(),"missing values")

0 missing values

In [151]:
print(dim_Physician['ProviderFTE'])

NameError: name 'dim_Physician' is not defined